Assets/Materials.meta
Assets/Materials/GrassGPU.mat
Assets/Materials/GrassGPU.mat.meta
Assets/Materials/Terrain.mat
Assets/Materials/Terrain.mat.meta
Assets/Models.meta
Assets/Models/TessellatedPlane16K.fbx
Assets/Models/TessellatedPlane16K.fbx.meta
Assets/Models/TessellatedPlane263K.fbx
Assets/Models/TessellatedPlane263K.fbx.meta
Assets/Models/TessellatedPlane60K.fbx
Assets/Models/TessellatedPlane60K.fbx.meta
Assets/Models/plane_tessellated.fbx
Assets/Models/plane_tessellated.fbx.meta
Assets/Resources.meta
Assets/Resources/Random.cginc
Assets/Resources/Random.cginc.meta
Assets/Resources/Simplex.compute
Assets/Resources/Simplex.compute.meta
Assets/Resources/TRS.cginc
Assets/Resources/TRS.cginc.meta
Assets/Scenes.meta
Assets/Scenes/SampleScene.unity
Assets/Scenes/SampleScene.unity.meta
Assets/Scripts.meta
Assets/Scripts/GrassPlane.cs
Assets/Scripts/GrassPlane.cs.meta
Assets/Scripts/Screenshot.cs
Assets/Scripts/Screenshot.cs.meta
Assets/Shaders.meta
Assets/Shaders/GrassGPU.shader
Assets/Shaders/GrassGPU.shader.meta
Assets/Shaders/Light.cginc
Assets/Shaders/Light.cginc.meta
Assets/Shaders/Shadow.cginc
Assets/Shaders/Shadow.cginc.meta
Assets/Shaders/Terrain.shader
Assets/Shaders/Terrain.shader.meta
Assets/Shaders/Tessellation.cginc
Assets/Shaders/Tessellation.cginc.meta
Assets/Textures.meta
"Assets/Textures/GarrettGunnell Grass main Assets-Textures.zip"
"Assets/Textures/GarrettGunnell Grass main Assets-Textures.zip.meta"
Assets/Textures/base_grass5.png
Assets/Textures/base_grass5.png.meta
Assets/Textures/base_grass5n.png
Assets/Textures/base_grass5n.png.meta
Assets/Textures/grass3.png
Assets/Textures/grass3.png.meta
Assets/Textures/map_00-05-37.png
Assets/Textures/map_00-05-37.png.meta
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/AudioManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/InputManager.asset
ProjectSettings/MemorySettings.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/TagManager.asset
ProjectSettings/TimeManager.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/VFXManager.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/XRSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2022.dwlt
UserSettings/Search.index
UserSettings/Search.settings
.vs/
.vsconfig
Assembly-CSharp.csproj
BillboardGrass.sln
Editor_FPS.png
Editor_NoFPS.png
Library/
Logs/
Screenshot.png
obj/
BillboardGrass_Video.mp4
Old_BillboardGrass_Video_FPSCounter.mp4
Old_Editor_FPS.png
Old_Editor_NoFPS.png
Old_Screenshot.png
Screenshot_1.png
Screenshot_2.png
Screenshot_3.png
Screenshot_4.png
Screenshot_FPS.png
Temp/
notes.txt
